
$font-family-default: 'Josefin Sans', sans-serif;

$primary-color: white;
$second-color: #333;

$bg-github-color: #171515;
$bg-primary-color: #333;
$bg-second-color: lightgrey;

$font-size-large: clamp(2.5em, 6vw, 3.5em);
$font-size-medium: 2em;
$font-size-small: 1.6em;
$font-size-tiny: 1.3em;

$max-width-mobile: 850px;
